body{
    font-size: 4vmax;
    color: ghostwhite;
    background-image: url(coder1.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
   padding: 20px;
   margin: auto; 
   text-align: center; 
   border: 0px; 
}
span{
    color: rgb(209, 191, 29);
}
nav{
    display: inline-flex;

}
/* .container1{
  
   background-image: url(coder2.jpeg);
   background-color: gainsboro;
   display: flex;

}
.container2{
    background-attachment: fixed;
    background-image: url(coder1.jpeg);
    display: flex;
} */