body{
    font-size: 3vmax;
    color: ghostwhite;
    background-image: url(coder1.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
   padding: 10px;
   margin: auto; 
   text-align: center;  
}
span{
    color: khaki;
}
nav{
    display:block;

}
/* .container1{
  
   background-image: url(coder2.jpeg);
   background-color: gainsboro;
   display: flex;

}
.container2{
    background-attachment: fixed;
    background-image: url(coder1.jpeg);
    display: flex;
} */